<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.test10">

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="杨济源-18990192"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name="com.example.test10.MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name="com.example.test10.RecyclerStaggeredActivity" android:exported="true" />
        <activity
            android:name="com.example.test10.RecyclerGridActivity"
            android:exported="true" />
        <activity
            android:name="com.example.test10.RecyclerLinearActivity"
            android:exported="true" />
    </application>

</manifest>